body{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

#logout{
    color: black;
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em;
    border-bottom-right-radius: 4em 0.5em;
    border-bottom-left-radius: 1em 3em;
    background-color: white;
}

main{
    min-height: 70vh;
}

#booking{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    background-color: white;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#booking p{
    font-family: 'Arimo', sans-serif;
}

.Pbooking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
}

.Pbooking p{
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
}